table(border=1)
    thead 
        tr 
            th Fullnames
            th NumberPhone
    tbody 
        tr 
            td Homer Simpson 
            td 001-455789
        tr 
            td Marge Simpson 
            td 002-456790
        tr 
            td Bart Simpson
            td 003-456791